# Arithmetic intensity

Calculate arithmetic intensity for a kernel with {{flop_per_thread}} flops per thread, {{memory_access_per_thread}} memory accesses per thread and access size of {{memory_access_size_bits}} bits. Round to 2dp: