
# Matrix Factorization: Predicting Missing Rating


In a collaborative filtering system, we represent users and items using feature vectors that capture latent preferences.

**User Feature Matrix P:**
$$
{{user_features}}
$$

**Item Feature Matrix Q:**
$$
{{item_features}}
$$


**What rating would User {{target_user}} give to Item {{target_item}}?**
