# GPU roofline model 

Determine (True/False) if kernel is memory bound:

- Peak throughput in GFLOPs = {{peak_flops_gflops}}
- Peak bandwidth = {{peak_bandwidth}}
- Flops per thread = {{flop_per_thread}}
- memory access per thread = {{memory_access_per_thread}}
- memory access size = {{memory_access_size_bits}}